*{
    margin: 0;
    padding: 0;
}

:root{
    --first-color: #131313;
    --second-color: #293133; /* #8B7500* #444444*/
    --color-text: #F8F4FF;
    --color-menu-text: #807155;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: bender; /* Гарнитура шрифта */
    src: url(fonts/bender.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: benderbold; /* Гарнитура шрифта */
    src: url(fonts/benderbold.otf); /* Путь к файлу со шрифтом */
}

html{
	background: var(--second-color);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/*главный блок со всем контентом*/
.content{
    flex-grow: 1;
}

/*настройка навигационного меню*/
.navmenu{
    position:fixed;
    z-index: 99; /*нужно для отображения меню поверх всего*/
    top:0;
    width: 100%;
}

/*кнопка регистрация на навигационном меню*/
.reg a{
    position: absolute;
    right: 0;

}

/*настройка навигационного меню*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--first-color)
}

li {
    display: inline;
    float:left
}

li a {
    display: block;
    color: var(--color-menu-text);
    text-align: center;
    font-size: 20px;
    font-family: bender;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #9a8866;
    color: var(--first-color);
}

/*настройка выпадающего меню*/
ul ul{
    /*
    display: flex;
    flex-direction: column;
    */
    display: none;

}

ul li:hover > ul{
    display: flex;
    flex-direction: column;
    background: var(--first-color);
    position: absolute;
    z-index: 999;
}

/*используется для обозначения на навигационном меню текущего местоположения на сайте*/
.active {
    background-color: var(--color-menu-text);/*#8b94a0*/
    color: var(--first-color);
}

.active:hover{
    cursor: pointer;
    background-color: #9a8866;
    color: var(--first-color);
}


/*стили текста описания локации над каруселью*/
.locationtext{
    margin-top: 35px;
    font-size: 40;
    color: var(--color-text);
    font-family: benderbold;
}

/*настройка стилей текста описания игры*/
.t1{
    margin: 35px;
    margin-top: 75px;
    display: flex;
    align-items: center;
    color: var(--color-menu-text);
    justify-content: center;
    font-size: 77;
    text-transform:uppercase;
    font-family: benderbold;
}

.t1 p{
    font-size: 90;
    text-transform:uppercase;
}

.t2{
    margin: 30px;
    padding: 30px;
    font-size: 50;
    display: flex;
    font-size: 40;
    color: var(--color-text);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: bender;
}

.t2 p{
    font-size: 40;
}

.t2 button{
    cursor: pointer;
    padding: 25px;
    margin: 25px;
    margin-top: 60px;
    border-radius: 10px;
    font-size: 30;
    background-color: var(--color-menu-text);
    color:  var(--first-color);
    font-family: bender;
}


.t2 button:hover{
    background-color: #9a8866;
    transform: scale(0.97);
}



.mayak{
  
}

/*контейнер карусели*/
.slidecontainer {

    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slidecontainer img{
    width: 1100px;
    height: 550px;
    object-fit: cover;
    border-style: solid;
    border-color: var(--first-color);
    margin-top: 10px;
}

/*настройка стрелок управления карусели*/
.prev, .next{
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:var(--color-text);;
    font-size: 18px;
    font-family: bender;
    transition:0.6s ease;
    border-radius: 0 30px 30px 0;
}

.next{
    right:-3;
    border-radius: 30px 0 0 30px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

/*настройка текста картинки на карусели*/
.text{
    color: var(--color-text);;
    font-size: 32;
    padding: 8px 12px;
    font-family: bender;

}

/*настройка круглых кнопок под каруселью*/
.dot{
    cursor: pointer;
    height:15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
}

/*выделение активной dot под каруселью*/
.activ{
     height:13px;
    width: 13px;
    background-color: var(--first-color);;
}


/*анимации для карусели*/
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-name:0.9s;
    animation-name:fade;
    animation-duration: 0.9s;
}

@-webkit-keyframes fade{
    from{opacity:.4}
    to{opacity: 1}
}

@keyframes fade{
    from{opacity:.4}
    to{opacity: 1}
}

/*настройка div с аккордеоном*/
.acco{
    margin-top: 50px;    
}

/*настройка кнопок на панелях контента*/
.panel button, .panel2 button{
    width: 100%;
    cursor: pointer;
    font-size: 20;
    font-family: bender;
    background-color: var(--first-color);;
    color: var(--color-text);;

}

.panel button:hover, .panel2 button:hover{
    background-color: #111;
}

/*настройка кнопок аккордиона*/
button.accordion{
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    font-size: 20;
    font-family: bender;
    background-color: var(--first-color);
    color: var(--color-menu-text);;
    width: 100%;
    text-align: center;
    border: solid; /*double*/
    border-color: #444444;
    outline: none;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover{
    background-color: #111;
}

/*настройка панелей с контентом аккордеона*/
div.panel{
    padding: 0 30px;
    background-color: var(--first-color);;
    display: none;
}

div.panel.show{
    display: flex;
    flex-direction: column;
    transform: translateY(-150%);
    animation: down 0.4s forwards;
}

div.panel2{
    padding: 0 30px;
    background-color: var(--first-color);;
    display: none;
}

div.panel2.show{
    display: flex;
    flex-direction: column;
    transform: translateY(-150%);
    animation: down 0.4s forwards;
}

/*анимации для аккордеона*/
@keyframes down {
  0% {transform: translateY(-150%);}
  100% {transform: translateY(0);}
}



.banner{
    width: 600px;
    height: 120px;
    font-size: 40px;
    background-color: black;
    color: var(--color-text);
    text-align: center;
    margin-bottom: 10px;
}

.ad a{
    text-decoration: none;
}

/*анимация фона баннера*/
.snow1{
   background-image: url("https://webtort.ru/wp-content/uploads/2019/12/snow1.png");
   position:absolute;
   width: 600px;
    height:120px;
    animation: snow1 18s linear infinite;    
}

.snow2{
    background-image: url("https://webtort.ru/wp-content/uploads/2019/12/snow2.png"),url("https://webtort.ru/wp-content/uploads/2019/12/snow3.png");
    animation: snow2 10s linear infinite;
    width: 600px;
    height:120px;
    position:absolute;
}

.banner:hover > .snow1{
    cursor: pointer;
     animation: snow1 0s linear infinite;
}

.banner:hover > .snow2{
    cursor: pointer;
     animation: snow2 0s linear infinite;
}


@keyframes snow2{
    0%{background-position: 0 0, 0 0;}
    100%{background-position: 10% 600px, 10% 600px;}
}
@keyframes snow1{
    from{background-position: 0 -300px;}
    20% {background-position: 20% -100px;}
    40% {background-position: 30% 100px;}
    to{background-position: 20% 700px;}
}

/*анимация текста на баннере*/
.bigtext {
    font-size: 40px;
    font-weight:800;
    -webkit-animation-name: shake;    
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 50% 100%;
}


.bigtext:hover{
    -webkit-animation-name: shake;    
    -webkit-animation-duration: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform-origin: 50% 100%;
}


@-webkit-keyframes shake {
  0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
  20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
  30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
  80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
  90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
  100%{ -webkit-transform:     translate(1px, -2px) rotate(-1deg); }
 }

/*настройка заголовков*/
.abtext{
    font-size: 65;
    font-family: benderbold;
    color: var(--color-menu-text);
}


footer{
    display: flex;
    flex-shrink: 0;
    color: var(--color-menu-text);
    background-color: var(--first-color);
    font-family: bender;
    justify-content: space-between;
    align-items: center;
}

/*настройка иконок на футере*/
.icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin: 2 15px;
}

/*настройка формы*/
.formregcontainer{
    /*position: absolute;*/
    width: 450px;
    height: 630px;
    font-size: 18px;
    color: var(--color-text);
    z-index: 98;
    font-family: bender;
    background-color: var(--first-color);;
    margin: 0 auto 0 auto;
    margin-bottom: 10;
    /*top: 50;
    right: 5;*/
    border-radius: 8px;
    text-align: center;
}


.formregcontainer input{
    background-color: var(--color-menu-text);
    color:  var(--first-color);
    border-radius: 9px;

}


.formregcontainer select{
    background-color: var(--color-menu-text);
    color:  var(--first-color);
    border-radius: 9px;
}

::-webkit-input-placeholder {color:var(--first-color); opacity:1;}

.formregcontainer button {
    background-color: var(--color-menu-text);
    color:  var(--first-color);
     border-radius: 5px;
}

.formregcontainer button:hover{
    background-color: #9a8866;
    transform: scale(0.97);
}


/*вопросительные знаки около полей формы*/
.wz {
    position: absolute;
    cursor: help;
    font-size: 28px;
    color: var(--color-menu-text);
    opacity: 0.4;
    text-align: right;
    margin-top: 13;
    margin-left:4;
}

/*кнопка показать скрыть пароль*/
.showhidepass{
    position: absolute;
    cursor: pointer;
    margin-top: 16;
    opacity: 0.5;
    margin-left:-32;
}
/*дизайн формы*/
input[type="text"], input[type="password"], input[type="number"], input[type="mail"] {
    width: 300px;
    height: 35px;;
    margin-top: 10px;
    font-size: 18px;
    font-family: bender;
    margin-bottom: 20px;
}

button[type="submit"]{
    font-size: 22px;
    font-family: bender;
}

button[type="submit"]:hover{
    transform: scale(0.97);
}

.hello{
    display: none;
}

.hello p{
    font-size: 50;
    color: var(--color-menu-text);
    font-family: benderbold;
}


@media screen and (max-device-width: 600px) and (min-device-width: 100px){
    .hello{
        display: block;
    }

    .content{
        display: none;
    }

    .formregcontainer{
        display: none;
    }

    footer{
        display: none;
    }
    
}

